<h1>Fill out the information on your vehicle</h1>

<form id="vehicles" action="/vehicles">
  <div class="form-group">
    <label id="make">What is the make?</label>
    <input id="make" placeholder="Enter your make (ford)" class="form-control" type="text" name="make">
  </div>
  <div class="form-group">
    <label id="model">What is the model?</label>
    <input id="model" placeholder="Enter your model (escort)" class="form-control" type="text" name="model">
  </div>
  <div class="form-group">
    <label id="year">What is the year of the car?</label>
    <input id="year" placeholder="Enter your model (escort)" class="form-control" type="number" name="year">
  </div>
  <button id="add_vehicle" class='btn-primary'>Add it!</button>
</form>
